.container {
  margin: auto;
  max-width: 900px;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem; }

.x-large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem; }

.large {
  font-size: 2rem;
  line-height: 1.1; }

.Form input[type='text'],
.Form input[type='date'] {
  max-width: 300px; }

#register-form {
  width: 100%; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: white;
  color: #333333; }
