@import "config";


.container {
  margin: auto;
  max-width: $max-width;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

// Text styles
.x-large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 2rem;
  line-height: 1.1;
}

// Backgrounds
.bg {
  &-primary {
    @include set-background($primary-color);
    border: #ccc 1px solid;
  }
  &-light {
    @include set-background($light-color);
  }
  &-dark {
    @include set-background($dark-color);
  }
  &-success {
    @include set-background($success-color);
  }
  &-danger {
    @include set-background($danger-color);
  }
  &-white {
    @include set-background(white);
    border: #ccc 1px solid;
  }
}

// Form styles
.Form {
  input[type='text'],
  input[type='date'] {
    max-width: 300px;
  }
}
