@import "utilities";
@import "config";
@import "forms";
@import "circle";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: 1.1rem;
  line-height: 1.6;
  background-color: white;
  color: #333333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Saira Semi Condensed', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $primary-color;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 2rem;
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: solid 1px $primary-color;
  opacity: 0.9;
  z-index: 1;

  ul {
    display: flex;
    font-size: 1.5rem;
  }

  a {
    color: white;
    padding: 0.45rem;
    margin: 0 0.25rem;

    &:hover {
      color: $primary-color;
    }
  }
}

.landing {
  position: fixed;
  top:0;
  bottom: 0;
  width: 100%;
  overflow-y:hidden;
  background: url("../../img/cover.jpg") no-repeat center center/cover;

  &-inner {
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

}

.poster-container {
  display: grid;
  grid-template-columns: repeat(4, 25%);

  .card-container {
    position: relative;
    margin: 0 3px;
    img {
      display: block;
      border-radius: $border-radius;
    }

    .movie-overlay {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      opacity: 0;
      color: $light-color;
      background-color: $dark-color;
      transition: $transition;
    }
    .movie-overlay:hover{
      opacity: 0.9;
      h5, .rating{
        opacity: 1 ;
      }
    }
  }
}

//.detail-bg {
//  background-color: #333 !important;
//  color: white
//}

.top {
  color: white;
  width: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
  .tp-lft {
    margin: auto;
    margin-left: 0;
    margin-bottom: 0;
    width: 95%;
  }

  .tp-rt {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .movie-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .basic-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
    .rating {
      padding-top: 2rem;
    }
  }
}

