@import "utilities";
@import "config";
@import "forms";
@import "circle";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Saira Semi Condensed", sans-serif;
  font-size: 1.1rem;
  line-height: 1.6;
  background-color: $dark-color;
  color: $light-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Saira Semi Condensed", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $primary-color;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  display: block;
  visibility: visible;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 2rem;
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: solid 1px $primary-color;
  opacity: 0.9;
  z-index: 2;

  ul {
    display: flex;
    font-size: 1.5rem;
  }

  a {
    color: white;
    padding: 0.45rem;
    margin: 0 0.25rem;

    &:hover {
      color: $primary-color;
    }
  }
}

.landing {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow-y: hidden;
  background: url("../../img/library.jpg") no-repeat center center/cover;

  &-inner {
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

// movie card in dashboard

.poster-container {
  display: grid;
  grid-template-columns: repeat(4, 25%);

  .card-container {
    position: relative;
    margin: 3px;
    img {
      border-radius: $border-radius;
    }

    .movie-overlay {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      opacity: 0;
      color: $light-color;
      background-color: $dark-color;
      transition: $transition;
    }
    .movie-overlay:hover {
      opacity: 0.9;
      h5,
      .rating {
        opacity: 1;
      }
    }
  }
}

.detail-container {
  padding: 1rem;
}

//movie detail top
.top {
  color: white;
  width: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
  //border-bottom: #cce2ff 1px solid;
  .tp-lft {
    margin: 0 auto auto 0;
    width: 95%;
  }

  .tp-rt {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .movie-info {
    display: grid;
    grid-template-columns: 50% 50%;

    .basic-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      & > .icons {
        width: 50%;
        display: flex;
        justify-content: space-around;
      }
    }
    .rating {
      padding-top: 2rem;
    }
  }
  i:hover {
    cursor: pointer;
  }
}
.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cmt-form {
  display: block;
  width: 50%;
  border-radius: 3px;
  border: none;
  height: 80px;
  overflow: auto;
}

.add-cmt {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.all-cmt-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr; //change later for responsiveness
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.cmt-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
  & > div {
    width: 100%;
  }
  .cmt-top {
    display: flex;
    flex-direction: column;
    & > div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 1rem;
    }
    .cmt-rate {
      display: block;
      align-self: flex-start;
    }
  }

  .cmt-mid {
    height: 80px;
    overflow: auto;
  }

  .cmt-bot {
    margin-top: 1rem;
  }
}

// Discussion
.dis-top {
  display: flex;
  justify-content: center;
  width: 100%;
  & > .cmt-container {
    width: 80%;
  }
  & .cmt-mid {
    height: auto;
    overflow: visible;
  }
}
.dis-mid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.dis-bot {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
}

// Search
.search-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .search-bar {
    font-size: 1.5rem;
    display: block;
    border: none;
    color: $light-color;
    width: 100%;
    &:focus {
      outline: none;
    }
  }
  .search-filter {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .search-result {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;

    a {
      color: $light-color;
    }

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      i:hover {
        cursor: pointer;
      }
    }

    ul {
      width: 100%;
      li {
        border: $light-color solid 1px;
        transition: $transition;
        cursor: pointer;
        &:hover {
          background-color: $dark-color;
        }
      }
    }
  }
}
@import "mobile";
