@import "utilities";
@import "config";
@import "forms";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: white;
  color: #333333;

}
